var notifications = ''
<% flash.each do |type, messages| %>
notifications += <% messages.each do |m| %>
					'<div class="alert <%= alert_class_for(type) %> alert-dismissible fade in text-center">' +
						'<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>' +
								'<%= m %>' +
							'</div>'
				<% end %>
<% end %>

if($('form[id^=new_], form[id^=edit_]').length)
	$('.modal .modal-footer').html(notifications);
else
	$("#notification").html(notifications);