<table class="table">
  <tr>
    <td>Стоимость портфеля: </td>
    <td><strong><%= portfolio[:price] %></strong></td>
  </tr>
  <tr>
    <td>Начальная маржа: </td>
    <td><strong><%= portfolio[:m_initial] %></strong></td>
  </tr>
  <tr>
    <td>Минимальная маржа: </td>
    <td><strong><%= portfolio[:m_minimum] %></strong></td>
  </tr>
  <tr>
    <td>Скорректированная маржа: </td>
    <td><strong><%= portfolio[:m_order] %></strong></td>
  </tr>
</table>