<h3>ФОНДОВЫЙ РЫНОК</h3>
<table class="table">
  <tr>
    <th>Акции</th>
    <th>Последняя цена</th>
  </tr>
  <% @securities.each do |asset| %>
      <tr >
        <td><%= link_to asset.id, asset.id , class: 'btn btn-link' %></td>
        <td><%= asset.last.round.to_s << ' ' << asset.payment_instrument_id %></td>
      </tr>
  <% end %>
</table>
<h3>ВАЛЮТНЫЙ РЫНОК</h3>
<table class="table">
  <tr>
    <th>Идентификатор</th>
    <th>Индекс</th>
  </tr>
<% @fx.each do |asset| %>
    <tr >
      <td><%= link_to "#{asset.id} – #{asset.payment_instrument_id}", asset.id , class: 'btn btn-link' %></td>
      <td><%= asset.last.round(2) %> </td>
    </tr>
<% end %>
</table>